body {
  background-image: url('../assets/IMG_5328.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @media (min-width: 992px) {
    background: none;
  }
}

html {
  height: 100%;
}

.Loader {
  p {
    font-size: 20px;
    margin-top: 50px;
    color: rgb(145, 47, 47);
    font-weight: 600;
    @media (min-width: 992px) {
      margin-top: 120%;
    }
  }
}
