body {
  background-color: #d9d9d9;
}

.App {
  display: flex;
  justify-content: center;
  overflow: none;
  section {
    border: 1px solid black;
    border-radius: 4%;
    width: 500px;
    background-image: url('./assets/2c9be726239f16115512490974eeca50.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 30px;
    @media (min-width: 0px) and (max-width: 576px) {
      border-radius: 0;
    }

    .sec__header {
      text-align: center;
      margin-top: 30px;
      font-size: 20px;
      color: rgb(196, 191, 234);
      text-transform: uppercase;
      margin-bottom: 10px;
      overflow: hidden;
      white-space: nowrap;
      animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
      @media (min-width: 0px) and (max-width: 576px) {
        font-size: 16px;
      }
    }

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    .sec__p1 {
      text-align: center;
      font-size: 25px;
      margin-top: 10px;
      background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
      color: white;
      @media (min-width: 0px) and (max-width: 576px) {
        font-size: 20px;
        padding: 5px;
      }
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      border-radius: 50%;
      background-color: rgb(211, 143, 143);
    }
  }

  .party {
    text-align: center;
    font-size: 23px;
    color: rgb(239, 243, 150);
    margin-top: 55px;
  }
  .animation {
    display: flex;
    align-items: center;
    margin-top: 120px;

    .animation__1 {
      flex-basis: 50%;
    }
    .animation__2 {
      flex-basis: 50%;
      .p1 {
        text-align: center;
        font-size: 20px;
        color: rgb(239, 243, 150);
        font-weight: 600;
      }
      .p2 {
        font-size: 30px;
        font-weight: 600;
        color: rgb(239, 243, 150);
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .lottie2 {
        width: 60px;
        height: 60px;
      }
    }
  }

  .mailto {
    display: flex;
    justify-content: center;
    .RSVP {
      text-decoration: none;
      font-weight: 600;
      color: rgb(11, 10, 10);
      margin-top: 40px;
      background-color: #d9d9d9;
      padding: 20px;
      border-radius: 30px;
      max-width: 150px;
      &:hover {
        background-color: #000000;
        color: white;
      }
    }
  }
}
